@charset "utf-8";

/* タイトル上部 */
.top_image{
    background-color: #f4eade;
    display: flex;
    justify-content: center;
    height:200px;
    width:100%;
}

.top_image_pic{
    height:200px;
    width: auto;
    /* padding: 10px; */
}

header{
    background-color: #2988bc;
    /* height: 50px; */
}

body{
    background-color: #2F496E;
}

.site_header{
    background: #2988bc;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    width: 100%;
}

.site_header .site_logo{
    color: #fff;
    text-decoration: none;
}

.header_change{
    background: #333;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    top: -56px;
    transition: .5s;
    width: 100%;
    z-index: 200;
}

.gnav__menu{
    display: flex;
    padding-right: 30px;
}
.gnav__menu__item{
    margin-left: 30px;
    margin-right: 10px;
}
.gnav__menu__item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.content{
    line-height: 1.6;
    margin: 0 auto;
    padding-top: 100px;
    width: 800px;
}
.content p{
    margin-bottom: 40px;
}
.site_footer{
    background: #333;
    padding: 20px 0;
}
.copyright{
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.header_change.show{
    top: 0;
}

.header_change .gnav__menu__item a{
    color: #fff;
    text-decoration: none;
}

.header_change .site_logo{
    color: #fff;
    text-decoration: none;
}

/* タイトル上部 */

/* コンテンツ部分 */

.dead_space{
    height:60px;
}

.section_title{
    height: 30px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    display: block;
    padding-top: 80px;
    margin-top: -60px;

}

.workspace{
    margin: 10px auto;
    width:90%;
    background-color: #f4eade;
    display: flex;
    justify-content: space-around;
}

.map_space{
    margin: 10px;
    height: 450px;
    width: 40%;
    background-color: #2988bc;
}

.gantt-container{
    width: 50%;
    height: auto;
    padding: 10px;
}